.product{
    display: flex;
    border-bottom: 1px solid lightgray;

}
.product-name{
    color: blue;
    font-weight: 400;
}
.btn-regular{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.icon-color{
    color: goldenrod;
}